@model MultipleFileUpload.Models.VisaApplication
@{
    ViewBag.Title = "Create";
}

@*@using (Html.BeginForm("Create", "Visa", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)*@



    @*<div class="container-fluid" style="width: 1350px;">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <h3>
                        Embassy Of The Hashmemite Kingdom
                        Of the Jordan
                        Kaharatoum - Sudan
                        Consular Section -visa Applicatin
                    </h3>
                </div>

                <div class="col-md-4">
                    <img src="logo.jpg" width="300" height="200" alt="Logo">
                </div>

                <div class="col-md-4">
                    <p>   write Arabic translation here</p>
                </div>
            </div>
        </div>


        <div class="row">

            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <div class="form-group">
                    <div class="inner">
                        <lable>choose your files</lable>
                        <input type="file" name="files" multiple value="Browse" width="200" />
                    </div>
                </div>
            </div>
            <div class=col-lg-10>
                write clearly and complete  a quick brow fox jumps over the lazy dng
                <hr />
                <div class="row">
                    <div class="col-md-3">
                        <label for="sn">Sure Name</label>
                        <input type="text" class="form-control" name="SureName" id="sn">
                    </div>
                    <div class="col-md-3">
                        <label for="ln">Last Name</label>
                        <input type="text" class="form-control" name="LastName" id="ln">
                    </div>
                    <div class="col-md-3">
                        <label for="mn">Middle Name</label>
                        <input type="text" class="form-control" name="MiddleName" id="mn">
                    </div>
                    <div class="col-md-3">
                        <label for="fn">First Name</label>
                        <input type="text" class="form-control" name="FirstName" id="fn">
                    </div>
                    </div>

                    <div class="row">
                    <div class="col-md-3">
                        <label for="mothername">Mother Name</label>
                        <input type="text" class="form-control" name="MotherName" id="mothername">
                    </div>
                    <div class="col-md-3">
                        <label for="nt">Nationality</label>
                        <input type="text" class="form-control" name="Nationality" id="na">
                    </div>
                    <div class="col-md-3">
                        <label for="place">Place of birth</label>
                        <input type="text" class="form-control" name="PlaceOfBirth" id="place">
                    </div>
                    <div class="col-md-3">
                        <label for="dof"> Date of Birth</label>
                        <input type="date" class="form-control" name="DateOfbirth" id="dof">
                    </div>
                        </div>
                </div>

          </div>

        <div class="col-lg-12">

            <div class="row">

                <div class="col-md-4">
                    <label for="ea">Employer Adress</label>
                    <input type="text" class="form-control" name="EmployerAddress" id="ea">
                </div>
                <div class="col-md-4">
                    <label for="emp">Employer</label>
                    <input type="text" class="form-control" name="Employer" id="emp">
                </div>
                <div class="col-md-4">
                    <label for="oc">Current Occupation</label>
                    <input type="text" class="form-control" name="Occupation" id="oc">
                </div>

            </div>

        </div>
        <div class="col-lg-12">

            <div class="row">
                <div class="offset-md-8 ">


                    <label class="radio-inline"><input type="radio" name="option1" value="yes">Option 1</label>
                    <label class="radio-inline"><input type="radio" name="option1" value="no">Option 2</label>
                    <label>  <pre>   </pre>  </label>

                    <label style="margin-right: -30px;"> this is testing </label>

                </div>

            </div>


        </div>*@




<div class="container-fluid">
    <div class="col-md-12">
      
        <form method="post" action="~/Visa/Create" enctype="multipart/form-data">

            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="One">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
                               Register your information
                            </button>
                        </h2>
                    </div>
                    <div id="collapseOne1" class="collapse show" aria-labelledby="One" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h3>
                                            Embassy Of The Hashmemite Kingdom
                                            Of the Jordan
                                            Kaharatoum - Sudan
                                            Consular Section -visa Applicatin
                                        </h3>
                                    </div>

                                    <div class="col-md-4">
                                        <img src="logo.jpg" width="300" height="200" alt="Logo">
                                    </div>

                                    <div class="col-md-4">
                                        <p>   write Arabic translation here</p>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                 
                                            <div class="col-md-12">
                                                <label for="p">Uplaod your photo</label>
                                                <input type="file" class="form-control" name="photo" placeholder="please uplaod your photo" id="p">
                                            </div>
                                            <div class="col-md-12">
                                                <label for="r">Uplaod Medical report </label>
                                                <input type="file" class="form-control" name="report" id="r">
                                            </div>
                                            <div class="col-md-12">
                                                <label for="v">Uplaod Visa scane</label>
                                                <input type="file" class="form-control" name="visa" id="v"/>
                                            </div>
                                        
                                    </div>
                                </div>
                                <div class=col-lg-8>
                                    write clearly and complete  a quick brow fox jumps over the lazy dng
                                    <hr/>
                                    <div class="row">
                                        <div class="col-md-3 ">
                                            <label for="sn">Sure Name</label>
                                            <input type="text" class="form-control" name="SureName" id="sn">
                                        </div>
                                        <div class="col-md-3">
                                            <label for="ln">Last Name</label>
                                            <input type="text" class="form-control" name="LastName" id="ln">
                                        </div>
                                        <div class="col-md-3">
                                            <label for="mn">Middle Name</label>
                                            <input type="text" class="form-control" name="MiddleName" id="mn">
                                        </div>
                                        <div class="col-md-3">
                                            <label for="fn">First Name</label>
                                            <input type="text" class="form-control" name="FirstName" id="fn">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3 ">
                                            <label for="mothername">Mother Name</label>
                                            <input type="text" class="form-control" name="MotherName" id="mothername">
                                        </div>
                                        <div class="col-md-3">
                                            <label for="nt">Nationality</label>
                                            <input type="text" class="form-control" name="Nationality" id="na">
                                        </div>
                                        <div class="col-md-3">
                                            <label for="place">Place of birth</label>
                                            <input type="text" class="form-control" name="PlaceOfBirth" id="place">
                                        </div>
                                        <div class="col-md-3">
                                            <label for="dof"> Date of Birth</label>
                                            <input type="date" class="form-control" name="DateOfbirth" id="dof">
                                        </div>
                                    </div>
                                    </div>
                                        </div>
                                </div>
                                <div class="col-lg-12">

                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="ea">Employer Adress</label>
                                            <input type="text" class="form-control" name="EmployerAddress" id="ea">
                                        </div>
                                        <div class="col-md-4">
                                            <label for="emp">Employer</label>
                                            <input type="text" class="form-control" name="Employer" id="emp">
                                        </div>
                                        <div class="col-md-4">
                                            <label for="oc">Current Occupation</label>
                                            <input type="text" class="form-control" name="Occupation" id="oc">
                                        </div>

                                    </div>

                                </div>
                                <div class="col-lg-12">

                                    <div class="row">
                                        <div class="offset-md-8 ">


                                            <label class="radio-inline"><input type="radio" name="option1" value="yes">Option 1</label>
                                            <label class="radio-inline"><input type="radio" name="option1" value="no">Option 2</label>
                                            <label>  <pre>   </pre>  </label>

                                            <label style="margin-right: -30px;"> this is testing </label>

                                        </div>

                                    </div>


                                </div>


                                <div class="col-lg-12">

                                    <div class="row">

                                        <div class="col-md-2">
                                            <label for="n2">Nationality</label>
                                            <input type="text" class="form-control" nam="Nationality2" id="n2">
                                        </div>
                                        <div class="col-md-2">
                                            <label for="OC">Occupation</label>
                                            <input type="text" class="form-control" nam="Occupation2" id="OC">
                                        </div>
                                        <div class="col-md-2">
                                            <label for="DOB">Date of Birth</label>
                                            <input type="date" class="form-control" nam="DOB" id="DOB">
                                        </div>

                                        <div class="col-md-6">
                                            <label for="sp">Spouse Name</label>
                                            <input type="text" class="form-control" nam="SpouseName" id="sp">
                                        </div>

                                    </div>

                                </div>
                            </div>
                            </div>
                        </div>


                            <!-----first end here-->


                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            1. Current Permanent Address
                                        </button>
                                    </h2>
                                </div>

                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">

                                        <div class="col-lg-12">
                                            <div class="row">

                                                <div class="col-md-2">
                                                    <label for="usr">Phone No</label>
                                                    <input type="text" class="form-control" name="PhoneNo" id="usr">
                                                </div>
                                                <div class="col-md-2">
                                                    <label for="usr">Sate</label>
                                                    <input type="text" class="form-control" name="Sate" id="usr">
                                                </div>
                                                <div class="col-md-2">
                                                    <label for="city">City</label>
                                                    <input type="text" class="form-control" name="City" id="city">
                                                </div>
                                                <div class="col-md-3">
                                                    <label for="ng">NeighbourHood</label>
                                                    <input type="text" class="form-control" name="NeighbourHood" id="ng">
                                                </div>
                                                <div class="col-md-3">
                                                    <label for="usr">Street</label>
                                                    <input type="text" class="form-control" name="Street" id="street" />
                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            2. Passport
                                        </button>
                                    </h2>
                                </div>
                                <!---->

                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                    <div class="card-body">

                                        <div class="col-lg-12">
                                            <div class="row">

                                                <div class="col-md-2">
                                                    <label for="dofex">Date of Expiry</label>
                                                    <input type="date" class="form-control" name="Expirydate" id="dofex">
                                                </div>
                                                <div class="col-md-2">
                                                    <label for="dissue">Date of issue</label>
                                                    <input type="date" class="form-control" name="IssueDate" id="dissue">
                                                </div>
                                                <div class="col-md-2">
                                                    <label for="issueat">Issue at (Sate)</label>
                                                    <input type="text" class="form-control" name="Expirydate" id="issueat">
                                                </div>
                                                <div class="col-md-3">
                                                    <label for="issuecity">Issue at City</label>
                                                    <input type="text" class="form-control" name="issueAtcity" id="issuecity">
                                                </div>
                                                <div class="col-md-3">
                                                    <label for="tyno">Type of No</label>
                                                    <input type="text" class="form-control" name="typeOfNo" id="tyno">
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                3 Purpose of Visit
                                            </button>
                                        </h2>
                                    </div>


                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="col-lg-12">
                                                <div class="row">

                                                    <div class="col-md-4">
                                                        <label for="Dov">Duration of Visit</label>
                                                        <input type="number" class="form-control" name="Durationv" id="Dov">
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label for="exdate">Expected Date of Arrivale</label>
                                                        <input type="date" class="form-control" name="Exarrivale" id="exdate">
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label for="pur">Purpose of visit</label>
                                                        <input type="text" class="form-control" name="PurposeVisit" id="pur">
                                                    </div>


                                                </div>

                                            </div>

                                        </div>
                                    </div>



                                </div>


                                <div class="card">
                                    <div class="card-header" id="headingFour">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                4 Known As
                                            </button>
                                        </h2>
                                    </div>


                                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="col-lg-12">
                                                <div class="row">

                                                    <div class="col-md-4">
                                                        <label for="people">People you know in Jordan</label>
                                                        <input type="text" class="form-control" name="KnownAs" id="people">
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label for="Phone">Phone No in Jordan</label>
                                                        <input type="text" class="form-control" name="JordanNo" id="phonein">
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label for="address">Address in Jordan</label>
                                                        <input type="text" class="form-control" name="AddressInJordan" id="address">
                                                    </div>


                                                </div>

                                            </div>
                                            <div>
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            7 you have ever been issued Jordanion Visa
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label class="radio-inline">
                                                                No
                                                            </label>
                                                            <input type="radio" name="issue" value="no">
                                                            <label class="radio-inline"> (--------) Yes </label>
                                                            <input type="radio" name="issue" value="yes">
                                                        </div>
                                                        <div class="col-md-4">
                                                            لقد سبق لك إصدار تأشيرة الأردن؟
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            8 have you previously visited Jordan?
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label class="radio-inline">
                                                                No
                                                            </label>
                                                            <input type="radio" name="issue" value="no">
                                                            <label class="radio-inline"> (--------) Yes </label>
                                                            <input type="radio" name="issue" value="yes">
                                                        </div>
                                                        <div class="col-md-4">
                                                            لقد سبق لك إصدار تأشيرة الأردن؟
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            

                                            <div class="col-lg-12">
                                                <div class="row">

                                                    <div class="col-md-4">
                                                        <label for="people">Purpose of Visit</label>
                                                        <textarea name="purposeOfvisit" class="form-control"></textarea>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label for="Phone">Duration of visit</label>
                                                        <textarea type="text" name="durationOfVisit" class="form-control"></textarea>
                                                    </div>

                                                    <div class=" col-md-4">
                                                        <label for="textarea1">Visited Date</label>
                                                        <textarea id="textarea1" class="form-control"></textarea>

                                                    </div>



                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="card">
                                    <div class="card-header" id="headinFive">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                                                5 Accompnaying
                                            </button>
                                        </h2>
                                    </div>

                                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                                        <hr class="card-body">

                                        <div class="col-lg-12">

                                            <!-- <table>
                              <tr>
                                <th> Occupation</th>
                                <th> Age</th>
                                <th>Relation </th>
                                <th>Name</th>
                              </tr>
                               <td class="cl-lg-4"> <input type="text" name="Occupation" class="form-control"></td>
                               <td class="cl-lg-2"> <input type="text" name="Occupation" class="form-control"></td>
                               <td class="cl-lg-3"> <input type="text" name="Occupation" class="form-control"></td>
                               <td class="cl-lg-5"> <input type="text" name="Occupation" class="form-control"></td>
                            </table> -->
                                            <div class="row">

                                                <div class="col-md-4">
                                                    <label for="people">Occupation</label>

                                                    <textarea name="Occupation" class="form-control"></textarea>
                                                </div>
                                                <div class="col-md-2">
                                                    <label for="Phone">Age</label>
                                                    <input type="number" name="age">
                                                </div>

                                                <div class=" col-md-2">
                                                    <label for="textarea1">Relation</label>
                                                    <textarea name="relation" class="form-control"></textarea>

                                                </div>

                                                <div class=" col-md-4">
                                                    <label for="Name">Name</label>
                                                    <textarea name="name" class="form-control"></textarea>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-12" style="margin-top: 20px;">
                                                    All the information Provided and the documentation attached are accurate and incure any
                                                    legal liability if otherwise proven
                                                    <hr/>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-4">

                                                    <hr style="border-top:1px dotted #000;"/>
                                                </div>
                                                <div class="col-md-2">

                                                    Date <pre>   </pre>
                                                </div>

                                                <div class="col-md-4">

                                                    <hr style="border-top:1px dotted #000;"/>
                                                </div>

                                                <div class="col-md-2">

                                                    Signature of Applicant <pre>   </pre>
                                                </div>
                                            </div>

                                        </div>

                                        <hr style="border-top:1px solid #000;"/>




                                    </div>

                                </div>

                            </div>
                        </div>

                    </div><br />
                    <div class="text-center">
                        <div class="col-md-4 offset-md-4">
                            <button type="submit" class="bnt btn-success"> Submit</button>
                        </div>
                    </div>
</form>
        </div>
</div>





@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@
@section Scripts {
    @*<script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@
}
